.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  height: 100%;
  max-width: 650px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  flex: 0 0 auto;
  border-bottom: solid var(--bg-alt) var(--size-1);
}

.weights {
  height: 0px;
  flex: 4 1 auto;
  padding: 0 var(--size-1);
  background: var(--bg-alt);
  overflow-x: hidden;
  overflow-y: auto;
}

.averages {
  flex: 0 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  border-top: solid var(--bg-alt) var(--size-1);
}

.week {
  background: var(--bg-accent);
  color: var(--color-accent);
}

.spacer {
  width: 2px;
  background: var(--bg-alt);
}

.month {
  background: var(--bg-accent);
  color: var(--color-accent);
}

.graph {
  height: 0px;
  flex: 5 1 auto;
  padding: var(--size-1);
  background: var(--bg-alt);
  display: flex;
}

.version {
  position: fixed;
  left: var(--size-2);
  bottom: var(--size-1);
  font-size: var(--text-small);
}
