.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  flex: 0 0 auto;
  background: #f48686;
}

.weights {
  height: 0px;
  flex: 2 1 auto;
  background: #f4c986;
  overflow: hidden;
}

.averages {
  flex: 0 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.week {
  background: #c8f486;
}

.month {
  background: #86f4c9;
}

.graph {
  height: 0px;
  flex: 3 1 auto;
  background: #86c9f4;
}
