.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  flex: 0 0 auto;
}

.weights {
  height: 0px;
  flex: 2 1 auto;
  padding: var(--size-1);
  background: var(--bg-alt);
  overflow-x: hidden;
  overflow-y: auto;
}

.averages {
  flex: 0 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.week {
  background: var(--bg-accent);
  color: var(--color-accent);
}

.month {
  background: var(--bg-accent);
  color: var(--color-accent);
}

.graph {
  height: 0px;
  flex: 3 1 auto;
}
