.main {
  padding: var(--size-1) var(--size-2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  color: var(--color-accent-light);
}

.average {
  padding: 2px;
  color: var(--color-accent);
  font-weight: bold;
  display: flex;
}

.diff {
  margin-left: var(--size-1);
  display: flex;
}

.measurements {
  color: var(--color-accent-light);
}

.icon {
  width: 1em;
  height: 1em;
  margin-right: var(--size-0);
}
