.era {
  padding: var(--size-1);
  border: 1px solid var(--bg-alt);
  background: var(--bg-normal);
}

.top {
  margin-bottom: var(--size-1);
  display: grid;
  grid-template-columns: 4fr 5fr;
}

.date {
  margin-right: var(--size-1);
  display: flex;
  justify-content: flex-end;
}

.count {
  margin-left: var(--size-1);
  color: var(--color-normal-light);
}

.bottom {
  display: grid;
  grid-template-columns: 4fr 5fr;
}

.average {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: var(--size-1);
  font-size: var(--text-large);
}

.averageValue {
}

.stdDev {
  margin-left: var(--size-1);
  color: var(--color-normal-light);
}

.goal {
  margin-left: var(--size-1);
  display: flex;
  align-items: center;
}

.icon {
  width: 1em;
  height: 1em;
  margin-right: var(--size-0);
}

.diff {
  display: flex;
  margin-right: var(--size-1);
}

.goalTitle {
  color: var(--color-normal-light);
  margin-right: var(--size-0);
}

.goalValue {
  color: var(--color-normal-light);
}
