.main {
  flex-grow: 1;
  background: var(--bg-normal);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  touch-action: none;
}

.wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: blue;
}

.canvas {
  flex-grow: 1;
  background: var(--bg-normal);
}
