:root {
  --size-0: 4px;
  --size-1: 8px;
  --size-2: 16px;
  --size-3: 32px;
  --size-button: 32px;
  --border-radius: 2px;
  --bg-normal: #ffffff;
  --bg-alt: #a8a88a;
  --bg-accent: #201060;
  --bg-button-hover: #f0f0f0;
  --color-normal: #202020;
  --color-normal-light: #505050;
  --color-accent: #d8d8d8;
  --color-button: #787878;
  --color-button-hover: #484848;
  --border: #a4a4a4;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg-normal);
  color: var(--color-normal);
  font-family: "Helvetica", sans-serif;
}

button {
  width: var(--size-button);
  height: var(--size-button);
  padding: var(--size-0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: var(--size-button);
  padding: 0 var(--size-1);
  border-radius: var(--border-radius);
  background: var(--bg-normal);
  color: var(--color-normal);
}
