:root {
  --space0: 4px;
  --space1: 8px;
  --space2: 16px;
  --space3: 32px;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
