:root {
  --size-button: 32px;
  --space0: 4px;
  --space1: 8px;
  --space2: 16px;
  --space3: 32px;
  --bg-button: #ddd;
  --bg-hover: #248;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  width: var(--size-button);
  height: var(--size-button);
  padding: var(--space0);
  border-radius: 50%;
  background: var(--bg-button);
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background: var(--bg-hover);
}
