.main {
  padding: var(--size-1) var(--size-2);
  background: var(--bg-accent);
  color: var(--color-accent);
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
}

.weight {
  display: flex;
  align-items: center;
}

.time {
}

.buttons {
  display: flex;
  align-items: center;
  color: var(--color-normal);
}

.buttons button {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}

.buttons button:hover {
  background: #ffffff30;
}

.fileInput {
  display: none;
}

.iconTest {
  position: fixed;
  top: 80px;
  left: 80px;
  padding: 10px;
  background: #000;
}

.iconWrap {
  height: 100px;
  width: 100px;
  background: #888;
}

.iconTest2 {
  position: fixed;
  top: 220px;
  left: 80px;
  padding: 10px;
  background: #000;
}

.iconWrap2 {
  height: 50px;
  width: 50px;
  background: #888;
}
