.main {
  padding: var(--size-1) var(--size-2);
  background: var(--bg-accent);
  color: var(--color-accent);
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
}

.weight {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.input {
  max-width: 7em;
}

.time {
}

.buttons {
  display: flex;
  align-items: center;
  color: var(--color-normal);
}

.buttons button {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}

.buttons button:hover {
  background: #ffffff30;
}

.fileInput {
  display: none;
}

.save {
  color: var(--color-normal);
}

.saveButtons {
  margin-top: var(--size-2);
  display: flex;
  justify-content: flex-end;
}

.saveButtons button {
  width: auto;
  padding: var(--size-0) var(--size-1);
  border-radius: var(--border-radius);
  margin-left: var(--size-0);
}

.saveButtons button:hover {
  background: var(--bg-button-hover);
}
