.main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: var(--size-3);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: var(--bg-disabled);
}

.modal {
  min-width: 60%;
  padding: var(--size-0);
  margin: var(--size-0);
  background: var(--bg-normal);
  border-radius: var(--border-radius);
}

.content {
  padding: 8px;
}
