.main {
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--size-2);
  background: var(--bg-alt);
  overflow-x: hidden;
  overflow-y: auto;
}

.close {
  position: absolute;
  right: var(--size-1);
  top: var(--size-1);
}

.close button {
  background: var(--bg-normal);
}

.months {
}

.month {
  padding: var(--size-1);
  border: 1px solid var(--bg-alt);
  background: var(--bg-normal);
}

.top {
  margin-bottom: var(--size-1);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.date {
  margin-right: var(--size-1);
  display: flex;
  justify-content: flex-end;
}

.count {
  margin-left: var(--size-1);
  color: var(--color-normal-light);
}

.bottom {
  font-size: var(--text-large);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.average {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: var(--size-1);
}

.averageValue {
  font-weight: bold;
}

.stdDev {
  margin-left: var(--size-1);
  color: var(--color-normal-light);
}

.goal {
  display: flex;
}

.icon {
  width: 1em;
  height: 1em;
  margin-right: var(--size-0);
}

.diff {
  display: flex;
  margin-right: var(--size-1);
  font-weight: bold;
}

.goalTitle {
  color: var(--color-normal-light);
  margin-right: var(--size-0);
}

.goalValue {
  color: var(--color-normal-light);
}
