.main {
  position: relative;
}

.close{
  position: absolute;
  right: 0;
  top: 0;
}

.controls {
  padding: var(--size-1);
}

.controls button {
  width: auto;
  padding: var(--size-0) var(--size-1);
  border-radius: var(--border-radius);
  margin: var(--size-0);
  background: var(--bg-normal);
}

.controls button:hover {
  background: var(--bg-button-hover);
}

.title {
  padding-top: var(--size-2);
  padding-bottom: var(--size-0);
  font-weight: bold;
}

.section {
  padding: var(--size-0);
  background: var(--bg-alt);
}

.buttons {
  display: flex;
}

.goalMessage {
  padding: var(--size-1);
  white-space: pre;
  line-height: 1.4em;
}

.goalInputs {
  padding: var(--size-1);
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: var(--size-1);
  vertical-align: bottom;
}

.goalInputs * {
  display: flex;
  align-items: center;
}

.goalInputs input {
  margin: 0 var(--size-1);
  border: 1px solid var(--color-button);
  border-radius: var(--border-radius);
  background: var(--bg-normal);
}

.message {
  height: 6rem;
  padding: var(--size-1);
  margin: var(--size-0);
  border: 1px solid var(--color-button);
  border-radius: var(--border-radius);
  background: var(--bg-normal);
  white-space: pre;
}
