.main {
  position: relative;
}

.top {
  position: absolute;
  right: 0;
  top: 0;
  /*
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #fde;
  */
}

.top button {
  border: 1px solid var(--color-button);
  color: var(--color-button);
}

.top button:hover {
  border-color: var(--color-button-hover);
  background: var(--bg-button-hover);
  color: var(--color-button-hover);
}

.title {
  padding-top: var(--size-2);
  padding-bottom: var(--size-1);
  /*
  padding-bottom: var(--size-1) 0;
  */
  font-weight: bold;
}

.controls {
  padding: var(--size-1);
}

.controls button {
  width: auto;
  border: 1px solid var(--color-button);
  border-radius: var(--border-radius);
}

.controls button:hover {
  width: auto;
  border-color: var(--color-button-hover);
  background: var(--bg-button-hover);
  color: var(--color-button-hover);
}

.goal {
}

.goalControls {
  display: grid;
  grid-template-columns: auto auto auto;
}

.label {
  /*
  padding-top: var(--size-1);
  */
  padding-left: var(--size-1);
  font-size: var(--text-small);
  color: var(--color-normal-light);
  font-weight: bold;
}

.data {
}

.dataControls {
  display: flex;
}

.data button {
  margin: var(--size-0);
}

.message {
  height: 6rem;
  padding: var(--size-1);
  margin: var(--size-0);
  border: 1px solid var(--color-button);
  border-radius: var(--border-radius);
  background: var(--bg-alt);
  white-space: pre;
}
