.main {
  position: relative;
}

.close{
  position: absolute;
  right: 0;
  top: 0;
}

.controls {
  padding: var(--size-1);
}

.controls button {
  width: auto;
  padding: var(--size-0) var(--size-1);
  border-radius: var(--border-radius);
  margin: var(--size-0);
}

.title {
  padding-top: var(--size-2);
  padding-bottom: var(--size-0);
  font-weight: bold;
}

.buttons {
  display: flex;
}

.goalMessage {
  padding: var(--size-1);
  background: #cf8;
}

.goalInputs {
  padding: var(--size-1);
  background: #fc8;
}

/*
  display: grid;
  grid-template-columns: auto auto auto;
*/

.message {
  height: 6rem;
  padding: var(--size-1);
  margin: var(--size-0);
  border: 1px solid var(--color-button);
  border-radius: var(--border-radius);
  background: var(--bg-alt);
  white-space: pre;
}
