.item {
  padding: var(--size-0) var(--size-1);
  border: 1px solid var(--bg-alt);
  background: var(--bg-normal);
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
}

.weight {
  display: flex;
  align-items: center;
  font-size: var(--text-large);
}

.time {
  color: var(--color-normal-light);
}

.buttons {
  display: flex;
  justify-content: edn;
  align-items: center;
}
