.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--size-1) var(--size-2);
  background: var(--bg-accent);
  color: var(--color-accent);
}

.date {
  color: var(--color-accent-light);
}

.average {
  padding: 2px;
  color: var(--color-accent);
  font-weight: bold;
  display: flex;
}

.measurements {
  color: var(--color-accent-light);
}
