.main {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-rows: auto 1fr auto 1fr;
}

.weights {
  overflow-x: hidden;
  overflow-y: auto;
  border: var(--size-1) solid var(--bg-alt);
  background: var(--bg-alt);
}

.averages {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  background: var(--bg-alt);
}

.graph {
  flex-grow: 5;
  border: var(--size-1) solid var(--bg-alt);
}

.version {
  position: fixed;
  left: var(--size-2);
  bottom: var(--size-1);
  font-size: var(--text-small);
}
