.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--size-0);
}

.options {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.start {
  display: flex;
  align-items: center;
  gap: var(--size-0);
  padding-top: 2px;
  color: var(--color-normal-light);
}

.start input {
  color: var(--color-normal-light);
}
