.main {
  --header: 40px;

  position: fixed;
  inset: 0;
  background: var(--bg-alt);
}

.header {
  height: var(--header);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: var(--size-1);
}

.averages {
  position: fixed;
  inset: var(--header) var(--size-1) var(--size-1) var(--size-1);
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--bg-normal);
}
